In [1]:
#pip install pm4py
import importlib

skip to [here](#Deleting-NaN) for deleting NaN

In [1]:
#importlib.reload(readDataset)
#import readDataset
#log = readDataset.readData()

C:\Users\Loui\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pm4py\util\dt_parsing\parser.py:76: UserWarning: ISO8601 strings are not fully supported with strpfromiso for Python versions below 3.11
  warnings.warn(
C:\Users\Loui\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
parsing log, completed traces :: 100%|██████████| 31509/31509 [07:29<00:00, 70.10it/s]

In [10]:
no_time = log['time:timestamp'].isnull().any() or log['time:timestamp'].isna().any()
no_time

False

General Information on the dataset and check of requirements.

In [11]:
#importlib.reload(generalInfo)
import generalInfo
generalInfo.infos(log)

Requirements satisfied
['Action' 'org:resource' 'concept:name' 'EventOrigin' 'EventID'
 'lifecycle:transition' 'time:timestamp' 'case:LoanGoal'
 'case:ApplicationType' 'case:concept:name' 'case:RequestedAmount'
 'FirstWithdrawalAmount' 'NumberOfTerms' 'Accepted' 'MonthlyCost'
 'Selected' 'CreditScore' 'OfferedAmount' 'OfferID']

Delete all unfinished cases

In [14]:
#importlib.reload(finishedCases)
import finishedCases
finishedCasesLog = finishedCases.deleteUnfinishedCases(log)
finishedCasesLog.head()

Number of relevant (finished) cases:  31411
Number of unfinished cases:  98

,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,case:concept:name,case:RequestedAmount,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID
0,Created,User_1,A_Create Application,Application,Application_652823628,complete,2016-01-01 09:51:15.304000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,statechange,User_1,A_Submitted,Application,ApplState_1582051990,complete,2016-01-01 09:51:15.352000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Created,User_1,W_Handle leads,Workflow,Workitem_1298499574,schedule,2016-01-01 09:51:15.774000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Deleted,User_1,W_Handle leads,Workflow,Workitem_1673366067,withdraw,2016-01-01 09:52:36.392000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Created,User_1,W_Complete application,Workflow,Workitem_1493664571,schedule,2016-01-01 09:52:36.403000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There are 98 unfinished cases which are filtered out.

Number of Cases with multiple offers

In [19]:
#importlib.reload(analysisCases)
import analysisCases
analysisCases.analysis(finishedCasesLog)

Total amount of made offers: 42815
More than 1 offer: 8511
offer_0: 0
offer_1: 22900
offer_2: 6549
offer_3: 1337
offer_4: 438
offer_5: 125
offer_6: 29
offer_7: 16
offer_8: 12
offer_9: 3
offer_10: 2
More than 10 offers: 0

### Data Enhancement
Get the finished Cases and work with these for enhancement purposes

In [72]:
#importlib.reload(readDataset)
import readDataset
finishedCasesLog = readDataset.readfinishedLog()
finishedCasesLog.head()

,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,case:concept:name,case:RequestedAmount,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID
0,Created,User_1,A_Create Application,Application,Application_652823628,complete,2016-01-01 09:51:15.304000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,statechange,User_1,A_Submitted,Application,ApplState_1582051990,complete,2016-01-01 09:51:15.352000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Created,User_1,W_Handle leads,Workflow,Workitem_1298499574,schedule,2016-01-01 09:51:15.774000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Deleted,User_1,W_Handle leads,Workflow,Workitem_1673366067,withdraw,2016-01-01 09:52:36.392000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Created,User_1,W_Complete application,Workflow,Workitem_1493664571,schedule,2016-01-01 09:52:36.403000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
importlib.reload(enhanceDataset)
import enhanceDataset
enhancedLog = enhanceDataset.enhancement(finishedCasesLog)
enhancedLog.head()

,case:concept:name,NumberOfOffers,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,...,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID,treatment,successful,treatmentSuccess
0,Application_1000086665,1,Created,User_1,A_Create Application,Application,Application_1000086665,complete,2016-08-03 15:57:21.673000+00:00,"Other, see explanation",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notTreated,0,0
1,Application_1000086665,1,statechange,User_1,A_Submitted,Application,ApplState_161925113,complete,2016-08-03 15:57:21.734000+00:00,"Other, see explanation",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notTreated,0,0
2,Application_1000086665,1,Created,User_1,W_Handle leads,Workflow,Workitem_747707399,schedule,2016-08-03 15:57:21.963000+00:00,"Other, see explanation",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notTreated,0,0
3,Application_1000086665,1,Deleted,User_1,W_Handle leads,Workflow,Workitem_1030261128,withdraw,2016-08-03 15:58:28.286000+00:00,"Other, see explanation",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notTreated,0,0
4,Application_1000086665,1,Created,User_1,W_Complete application,Workflow,Workitem_1127124826,schedule,2016-08-03 15:58:28.293000+00:00,"Other, see explanation",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notTreated,0,0

### Deleting NaN

In [79]:
#importlib.reload(readDataset)
import readDataset
log = readDataset.readEnhancedData()
log.head()

,case:concept:name,NumberOfOffers,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,...,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID,treatment,successful,treatmentSuccess
0,Application_1000086665,1,Created,User_1,A_Create Application,Application,Application_1000086665,complete,2016-08-03 15:57:21.673000+00:00,"Other, see explanation",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notTreated,0,0
1,Application_1000086665,1,statechange,User_1,A_Submitted,Application,ApplState_161925113,complete,2016-08-03 15:57:21.734000+00:00,"Other, see explanation",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notTreated,0,0
2,Application_1000086665,1,Created,User_1,W_Handle leads,Workflow,Workitem_747707399,schedule,2016-08-03 15:57:21.963000+00:00,"Other, see explanation",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notTreated,0,0
3,Application_1000086665,1,Deleted,User_1,W_Handle leads,Workflow,Workitem_1030261128,withdraw,2016-08-03 15:58:28.286000+00:00,"Other, see explanation",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notTreated,0,0
4,Application_1000086665,1,Created,User_1,W_Complete application,Workflow,Workitem_1127124826,schedule,2016-08-03 15:58:28.293000+00:00,"Other, see explanation",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notTreated,0,0

In [80]:
#importlib.reload(fillNa)
import fillNa
filledLog = fillNa.fillNa(log)
filledLog.head()

,case:concept:name,NumberOfOffers,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,...,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID,treatment,successful,treatmentSuccess
0,Application_1000086665,1,Created,User_1,A_Create Application,Application,Application_1000086665,complete,2016-08-03 15:57:21.673000+00:00,"Other, see explanation",...,22.0,True,241.28,False,0.0,5000.0,Offer_410892064,notTreated,0,0
1,Application_1000086665,1,statechange,User_1,A_Submitted,Application,ApplState_161925113,complete,2016-08-03 15:57:21.734000+00:00,"Other, see explanation",...,22.0,True,241.28,False,0.0,5000.0,Offer_410892064,notTreated,0,0
2,Application_1000086665,1,Created,User_1,W_Handle leads,Workflow,Workitem_747707399,schedule,2016-08-03 15:57:21.963000+00:00,"Other, see explanation",...,22.0,True,241.28,False,0.0,5000.0,Offer_410892064,notTreated,0,0
3,Application_1000086665,1,Deleted,User_1,W_Handle leads,Workflow,Workitem_1030261128,withdraw,2016-08-03 15:58:28.286000+00:00,"Other, see explanation",...,22.0,True,241.28,False,0.0,5000.0,Offer_410892064,notTreated,0,0
4,Application_1000086665,1,Created,User_1,W_Complete application,Workflow,Workitem_1127124826,schedule,2016-08-03 15:58:28.293000+00:00,"Other, see explanation",...,22.0,True,241.28,False,0.0,5000.0,Offer_410892064,notTreated,0,0

In [81]:
caseNr_offer_2 = log[log['NumberOfOffers'] == 2]['case:concept:name'].iloc[0]
caseNr_offer_3 = log[log['NumberOfOffers'] == 3]['case:concept:name'].iloc[0]
caseNr_offer_4 = log[log['NumberOfOffers'] == 4]['case:concept:name'].iloc[0]

rows_offer_2 = log[log['case:concept:name'] == caseNr_offer_2]
rows_offer_3 = log[log['case:concept:name'] == caseNr_offer_3]
rows_offer_2.head(20)
# concatenated_df = pd.concat([rows_offer_2, rows_offer_3])
# concatenated_df

,case:concept:name,NumberOfOffers,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,...,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID,treatment,successful,treatmentSuccess
431,Application_1000671285,2,Created,User_1,A_Create Application,Application,Application_1000671285,complete,2016-04-13 13:03:47.542000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,treated,1,Yes
432,Application_1000671285,2,statechange,User_1,A_Submitted,Application,ApplState_1030391955,complete,2016-04-13 13:03:47.587000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,treated,1,Yes
433,Application_1000671285,2,Created,User_1,W_Handle leads,Workflow,Workitem_1100882548,schedule,2016-04-13 13:03:47.736000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,treated,1,Yes
434,Application_1000671285,2,Deleted,User_1,W_Handle leads,Workflow,Workitem_1673576346,withdraw,2016-04-13 13:05:10.079000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,treated,1,Yes
435,Application_1000671285,2,Created,User_1,W_Complete application,Workflow,Workitem_1105287857,schedule,2016-04-13 13:05:10.094000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,treated,1,Yes
436,Application_1000671285,2,statechange,User_1,A_Concept,Application,ApplState_1831952253,complete,2016-04-13 13:05:10.100000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,treated,1,Yes
437,Application_1000671285,2,Obtained,User_32,W_Complete application,Workflow,Workitem_673502674,start,2016-04-14 09:44:27.182000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,treated,1,Yes
438,Application_1000671285,2,Released,User_32,W_Complete application,Workflow,Workitem_207439057,suspend,2016-04-14 09:44:33.610000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,treated,1,Yes
439,Application_1000671285,2,Obtained,User_48,W_Complete application,Workflow,Workitem_903389897,resume,2016-04-14 09:55:08.923000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,treated,1,Yes
440,Application_1000671285,2,statechange,User_48,A_Accepted,Application,ApplState_708874425,complete,2016-04-14 10:05:50.705000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,treated,1,Yes
441,Application_1000671285,2,Created,User_48,O_Create Offer,Offer,Offer_620142850,complete,2016-04-14 10:09:55.109000+00:00,Car,...,24.0,True,222.31,False,0.0,5000.0,NaN,treated,1,Yes
442,Application_1000671285,2,statechange,User_48,O_Created,Offer,OfferState_43962310,complete,2016-04-14 10:09:56.400000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,Offer_620142850,treated,1,Yes
443,Application_1000671285,2,statechange,User_48,O_Cancelled,Offer,OfferState_1288250278,complete,2016-04-14 10:16:44.023000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,Offer_620142850,treated,1,Yes
444,Application_1000671285,2,Created,User_48,O_Create Offer,Offer,Offer_888834469,complete,2016-04-14 10:17:18.658000+00:00,Car,...,24.0,True,222.31,True,914.0,5000.0,NaN,treated,1,Yes
445,Application_1000671285,2,statechange,User_48,O_Created,Offer,OfferState_2049596240,complete,2016-04-14 10:17:19.930000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,Offer_888834469,treated,1,Yes
446,Application_1000671285,2,statechange,User_48,O_Sent (mail and online),Offer,OfferState_1987522157,complete,2016-04-14 10:17:36.671000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,Offer_888834469,treated,1,Yes
447,Application_1000671285,2,Deleted,User_48,W_Complete application,Workflow,Workitem_2087466836,complete,2016-04-14 10:17:36.688000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,treated,1,Yes
448,Application_1000671285,2,Created,User_48,W_Call after offers,Workflow,Workitem_1285086214,schedule,2016-04-14 10:17:36.696000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,treated,1,Yes
449,Application_1000671285,2,Obtained,User_48,W_Call after offers,Workflow,Workitem_2066845982,start,2016-04-14 10:17:36.698000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,treated,1,Yes
450,Application_1000671285,2,statechange,User_48,A_Complete,Application,ApplState_1643010676,complete,2016-04-14 10:17:36.700000+00:00,Car,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,treated,1,Yes

In [77]:
import pandas as pd
enhancedLog["time:timestamp"] = pd.to_datetime(enhancedLog["time:timestamp"], format='ISO8601')

In [78]:
import pm4py
enhancedLog.to_csv('bpi2017_enhancedData.csv', index=False)
log_enhancedData = pm4py.convert_to_event_log(enhancedLog)
pm4py.write_xes(log_enhancedData, 'bpi2017_enhancedData.xes')

/pfs/data5/home/ma/ma_ma/ma_mskiera/master-thesis/thesis/lib/python3.9/site-packages/pm4py/utils.py:508: UserWarning: the EventLog class has been deprecated and will be removed in a future release.
  warnings.warn("the EventLog class has been deprecated and will be removed in a future release.")

exporting log, completed traces ::   0%|          | 0/31411 [00:00<?, ?it/s]