In [2]:
#pip install pm4py
import importlib

skip to [here](#Data-Enhancement) for enhancement of data

In [1]:
#importlib.reload(readDataset)
#import readDataset
#log = readDataset.readData()

C:\Users\Loui\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pm4py\util\dt_parsing\parser.py:76: UserWarning: ISO8601 strings are not fully supported with strpfromiso for Python versions below 3.11
  warnings.warn(
C:\Users\Loui\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
parsing log, completed traces :: 100%|██████████| 31509/31509 [07:29<00:00, 70.10it/s]

In [10]:
no_time = log['time:timestamp'].isnull().any() or log['time:timestamp'].isna().any()
no_time

False

General Information on the dataset and check of requirements.

In [11]:
#importlib.reload(generalInfo)
import generalInfo
generalInfo.infos(log)

Requirements satisfied
['Action' 'org:resource' 'concept:name' 'EventOrigin' 'EventID'
 'lifecycle:transition' 'time:timestamp' 'case:LoanGoal'
 'case:ApplicationType' 'case:concept:name' 'case:RequestedAmount'
 'FirstWithdrawalAmount' 'NumberOfTerms' 'Accepted' 'MonthlyCost'
 'Selected' 'CreditScore' 'OfferedAmount' 'OfferID']

Delete all unfinished cases

In [14]:
#importlib.reload(finishedCases)
import finishedCases
finishedCasesLog = finishedCases.deleteUnfinishedCases(log)
finishedCasesLog.head()

Number of relevant (finished) cases:  31411
Number of unfinished cases:  98

,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,case:concept:name,case:RequestedAmount,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID
0,Created,User_1,A_Create Application,Application,Application_652823628,complete,2016-01-01 09:51:15.304000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,statechange,User_1,A_Submitted,Application,ApplState_1582051990,complete,2016-01-01 09:51:15.352000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Created,User_1,W_Handle leads,Workflow,Workitem_1298499574,schedule,2016-01-01 09:51:15.774000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Deleted,User_1,W_Handle leads,Workflow,Workitem_1673366067,withdraw,2016-01-01 09:52:36.392000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Created,User_1,W_Complete application,Workflow,Workitem_1493664571,schedule,2016-01-01 09:52:36.403000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There are 98 unfinished cases which are filtered out.

Number of Cases with multiple offers

In [19]:
#importlib.reload(analysisCases)
import analysisCases
analysisCases.analysis(finishedCasesLog)

Total amount of made offers: 42815
More than 1 offer: 8511
offer_0: 0
offer_1: 22900
offer_2: 6549
offer_3: 1337
offer_4: 438
offer_5: 125
offer_6: 29
offer_7: 16
offer_8: 12
offer_9: 3
offer_10: 2
More than 10 offers: 0

### Data Enhancement
Get the finished Cases and work with these for enhancement purposes

In [3]:
#importlib.reload(readDataset)
import readDataset
finishedCasesLog = readDataset.readfinishedLog()
finishedCasesLog.head()

,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,case:concept:name,case:RequestedAmount,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID
0,Created,User_1,A_Create Application,Application,Application_652823628,complete,2016-01-01 09:51:15.304000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,statechange,User_1,A_Submitted,Application,ApplState_1582051990,complete,2016-01-01 09:51:15.352000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Created,User_1,W_Handle leads,Workflow,Workitem_1298499574,schedule,2016-01-01 09:51:15.774000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Deleted,User_1,W_Handle leads,Workflow,Workitem_1673366067,withdraw,2016-01-01 09:52:36.392000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Created,User_1,W_Complete application,Workflow,Workitem_1493664571,schedule,2016-01-01 09:52:36.403000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Add a column with the number of offers made and add a column to indicate if the case was treated

In [27]:
import enhanceDataset
offersLog = enhanceDataset.add_No_Of_Offers(finishedCasesLog)

In [6]:
#importlib.reload(enhanceDataset)
import enhanceDataset
#TODO: check if the treatement indication works like this
#TODO: add column successfull or not successful
enhancedLog = enhanceDataset.enhancement(finishedCasesLog)
enhancedLog.head()

,case:concept:name,NumberOfOffers,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,...,case:RequestedAmount,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID,treatment
0,Application_1000086665,1,Created,User_1,A_Create Application,Application,Application_1000086665,complete,2016-08-03 15:57:21.673000+00:00,"Other, see explanation",...,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notTreated
1,Application_1000086665,1,statechange,User_1,A_Submitted,Application,ApplState_161925113,complete,2016-08-03 15:57:21.734000+00:00,"Other, see explanation",...,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notTreated
2,Application_1000086665,1,Created,User_1,W_Handle leads,Workflow,Workitem_747707399,schedule,2016-08-03 15:57:21.963000+00:00,"Other, see explanation",...,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notTreated
3,Application_1000086665,1,Deleted,User_1,W_Handle leads,Workflow,Workitem_1030261128,withdraw,2016-08-03 15:58:28.286000+00:00,"Other, see explanation",...,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notTreated
4,Application_1000086665,1,Created,User_1,W_Complete application,Workflow,Workitem_1127124826,schedule,2016-08-03 15:58:28.293000+00:00,"Other, see explanation",...,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notTreated

simpleEnhancedData does not include sucessfullness. It includes offer number and whether it was treated or not

In [16]:
import pandas as pd
enhancedLog["time:timestamp"] = pd.to_datetime(enhancedLog["time:timestamp"], format='ISO8601')

In [17]:
import pm4py
enhancedLog.to_csv('bpi2017_simpleEnhancedData.csv')
log_enhancedData = pm4py.convert_to_event_log(enhancedLog)
pm4py.write_xes(log_enhancedData, 'bpi2017_simpleEnhancedData.xes')

/pfs/data5/home/ma/ma_ma/ma_mskiera/master-thesis/thesis/lib/python3.9/site-packages/pm4py/utils.py:508: UserWarning: the EventLog class has been deprecated and will be removed in a future release.
  warnings.warn("the EventLog class has been deprecated and will be removed in a future release.")

exporting log, completed traces ::   0%|          | 0/31411 [00:00<?, ?it/s]