In [1]:
#pip install pm4py
import importlib

skip to [here](#Data-Enhancement) for enhancement of data

In [1]:
#importlib.reload(readDataset)
#import readDataset
#log = readDataset.readData()

C:\Users\Loui\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pm4py\util\dt_parsing\parser.py:76: UserWarning: ISO8601 strings are not fully supported with strpfromiso for Python versions below 3.11
  warnings.warn(
C:\Users\Loui\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
parsing log, completed traces :: 100%|██████████| 31509/31509 [07:29<00:00, 70.10it/s]

In [10]:
no_time = log['time:timestamp'].isnull().any() or log['time:timestamp'].isna().any()
no_time

False

General Information on the dataset and check of requirements.

In [11]:
#importlib.reload(generalInfo)
import generalInfo
generalInfo.infos(log)

Requirements satisfied
['Action' 'org:resource' 'concept:name' 'EventOrigin' 'EventID'
 'lifecycle:transition' 'time:timestamp' 'case:LoanGoal'
 'case:ApplicationType' 'case:concept:name' 'case:RequestedAmount'
 'FirstWithdrawalAmount' 'NumberOfTerms' 'Accepted' 'MonthlyCost'
 'Selected' 'CreditScore' 'OfferedAmount' 'OfferID']

Delete all unfinished cases

In [14]:
#importlib.reload(finishedCases)
import finishedCases
finishedCasesLog = finishedCases.deleteUnfinishedCases(log)
finishedCasesLog.head()

Number of relevant (finished) cases:  31411
Number of unfinished cases:  98

,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,case:concept:name,case:RequestedAmount,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID
0,Created,User_1,A_Create Application,Application,Application_652823628,complete,2016-01-01 09:51:15.304000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,statechange,User_1,A_Submitted,Application,ApplState_1582051990,complete,2016-01-01 09:51:15.352000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Created,User_1,W_Handle leads,Workflow,Workitem_1298499574,schedule,2016-01-01 09:51:15.774000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Deleted,User_1,W_Handle leads,Workflow,Workitem_1673366067,withdraw,2016-01-01 09:52:36.392000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Created,User_1,W_Complete application,Workflow,Workitem_1493664571,schedule,2016-01-01 09:52:36.403000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There are 98 unfinished cases which are filtered out.

Number of Cases with multiple offers

In [19]:
#importlib.reload(analysisCases)
import analysisCases
analysisCases.analysis(finishedCasesLog)

Total amount of made offers: 42815
More than 1 offer: 8511
offer_0: 0
offer_1: 22900
offer_2: 6549
offer_3: 1337
offer_4: 438
offer_5: 125
offer_6: 29
offer_7: 16
offer_8: 12
offer_9: 3
offer_10: 2
More than 10 offers: 0

### Data Enhancement
Get the finished Cases and work with these for enhancement purposes

In [3]:
#importlib.reload(readDataset)
import readDataset
finishedCasesLog = readDataset.readfinishedLog()
finishedCasesLog.head()

,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,case:concept:name,case:RequestedAmount,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID
0,Created,User_1,A_Create Application,Application,Application_652823628,complete,2016-01-01 09:51:15.304000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,statechange,User_1,A_Submitted,Application,ApplState_1582051990,complete,2016-01-01 09:51:15.352000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Created,User_1,W_Handle leads,Workflow,Workitem_1298499574,schedule,2016-01-01 09:51:15.774000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Deleted,User_1,W_Handle leads,Workflow,Workitem_1673366067,withdraw,2016-01-01 09:52:36.392000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Created,User_1,W_Complete application,Workflow,Workitem_1493664571,schedule,2016-01-01 09:52:36.403000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
#importlib.reload(enhanceDataset)
import enhanceDataset
enhancedLog = enhanceDataset.enhancement(finishedCasesLog)
enhancedLog.head()

NameError: name 'finishedCasesLog' is not defined

In [31]:
enhancedLog.loc[[1, 479, 639, 738]]

,Unnamed: 0,case:concept:name,NumberOfOffers,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,...,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID,treatment,successful,treatmentSuccess
1,1,Application_1000086665,1,statechange,User_1,A_Submitted,Application,ApplState_161925113,complete,2016-08-03 15:57:21.734000+00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notTreated,0,
479,479,Application_1000691650,4,Created,User_1,W_Complete application,Workflow,Workitem_1872803633,schedule,2016-01-17 10:55:02.311000+00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,treated,0,No
639,639,Application_1001114274,5,Created,User_1,A_Create Application,Application,Application_1001114274,complete,2016-12-15 15:00:49.985000+00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,treated,1,Yes
738,738,Application_1001177986,1,Obtained,User_30,W_Call incomplete files,Workflow,Workitem_764159492,start,2016-07-08 10:09:03.821000+00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,notTreated,1,

In [ ]:
import pandas as pd
enhancedLog["time:timestamp"] = pd.to_datetime(enhancedLog["time:timestamp"], format='ISO8601')

In [ ]:
import pm4py
enhancedLog.to_csv('bpi2017_enhancedData.csv', index=False)
log_enhancedData = pm4py.convert_to_event_log(enhancedLog)
pm4py.write_xes(log_enhancedData, 'bpi2017_enhancedData.xes')

/pfs/data5/home/ma/ma_ma/ma_mskiera/master-thesis/thesis/lib/python3.9/site-packages/pm4py/utils.py:508: UserWarning: the EventLog class has been deprecated and will be removed in a future release.
  warnings.warn("the EventLog class has been deprecated and will be removed in a future release.")

exporting log, completed traces ::   0%|          | 0/31411 [00:00<?, ?it/s]