In [2]:
import pandas as pd

In [2]:
#df_results = pd.DataFrame(columns=['method', 'ATE', 'ITE', 'Library', 'other'])
df_results = pd.read_csv("df_results.csv")
df_results

,method,ATE,ITE,Library,other
0,Linear Regression,0.449046,NaN,DoWhy,NaN
1,Double ML,0.471019,[0. 0. 0. ... 0.952180...,DoWhy,NaN
2,IPW,0.311352,NaN,DoWhy,NaN
3,IPW Hajek,0.311352,NaN,DoWhy,NaN
4,IPW Stabalized,0.311352,NaN,DoWhy,NaN
5,Propensity Score Matching,-0.179289,NaN,DoWhy,NaN
6,Distance Matching,0.630322,NaN,DoWhy,NaN
7,IPW LR,0.149171,NaN,Causallib,NaN

In [3]:
%store df_results

Stored 'df_results' (DataFrame)

In [4]:
%store -r df_results
df_results

,method,ATE,ITE,Library,other
0,Linear Regression,0.449046,NaN,DoWhy,NaN
1,Double ML,0.471019,[0. 0. 0. ... 0.952180...,DoWhy,NaN
2,IPW,0.311352,NaN,DoWhy,NaN
3,IPW Hajek,0.311352,NaN,DoWhy,NaN
4,IPW Stabalized,0.311352,NaN,DoWhy,NaN
5,Propensity Score Matching,-0.179289,NaN,DoWhy,NaN
6,Distance Matching,0.630322,NaN,DoWhy,NaN
7,IPW LR,0.149171,NaN,Causallib,NaN
8,CausalEGM,0.124771,"[0.176025390625, 0.17529296875, 0.17529296875,...",CausalEGM,NaN

In [5]:
df_results.to_csv('df_results.csv', index=False)

## Evaluation Results

In [3]:
df_evaluation_results = pd.read_csv("df_evaluation_results.csv")

In [8]:
df_evaluation_results = pd.DataFrame(columns=['method', 'Random Common Cause ATE', 'Placebo treatment ATE', 'Random Subset ATE', 'Random Feature Replacement ATE', 'Replaced Feature'])

In [4]:
%store df_evaluation_results

Stored 'df_evaluation_results' (DataFrame)

In [5]:
%store -r df_evaluation_results
df_evaluation_results

,method,Random Common Cause ATE,Placebo treatment ATE,Random Subset ATE,Random Feature Replacement ATE,Replaced Feature
0,IPW LR,0.000007,0.000007,-0.000095,0.000007,NumberOfTerms
1,CausalEGM,0.099503,0.147094,0.142708,0.137571,concept:name

In [9]:
df_evaluation_results.to_csv('df_evaluation_results.csv', index=False)

### Plots

In [ ]:
#histogram gives the ITE
alpha=0.2
bins=30
plt.figure(figsize=(12,8))
plt.hist(cate_t, alpha=alpha, bins=bins, label='T Learner')
plt.hist(cate_x_no_p, alpha=alpha, bins=bins, label='X Learner (no propensity score)')
plt.hist(cate_r_no_p, alpha=alpha, bins=bins, label='R Learner (no propensity score)')
plt.vlines(cate_s[0], ymin=0, ymax=500000, label='S Learner', linestyles='dotted', colors='green', linewidth=2)
plt.title('Distribution of CATE Predictions by Meta Learner')
plt.xlabel('Individual Treatment Effect (ITE/CATE)')
plt.ylabel('# of Samples')
_=plt.legend()